body {
    font-family: Arial, sans-serif;
}

header {
    margin-top: 3rem;
}

section {
    min-height: 100vh;
    padding-top: 5rem;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.navbar-brand {
    font-weight: bold;
}

.jumbotron {
    background: linear-gradient(to right, #007bff, #00c6ff);
}

section.features {
    background-color: #f4f8fc;
}

#features .row-md-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#features .row-md-4 img {
    width: 30rem;
}

footer {
    margin-top: 30px;
}
