nav.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.hero {
    background: url('https://images.unsplash.com/photo-1741261498263-a5704667520d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyNnx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.section {
    padding: 60px 0;
}
